<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/ui.jqgrid.css' />
  <link rel='stylesheet' href='/stylesheets/jquery-ui-1.8.16.custom.css' />
  <script src="javascripts/jquery-1.7.2.min.js"></script>
  <script src="javascripts/jquery.jqGrid.src.js"></script>

</head>
<style>
  html, body {
    height: 100%;
    width: 100%;
  }
</style>

<body>
<div class="container-fluid">
  edit
  <!--<div class="row">-->
  <!--<table id="list" class="col-xs-12"></table>-->
  <!--</div>-->
</div>

<script>
</script>
</body>
</html>
