<%include header.ejs%>

<style>
  .list {
    background-color: #222;
    padding: 15px;
    margin-bottom: 15px;
  }
  .list a {
    color: #d5d5d5;
  }
  .list img {
    margin-left: -15px;
    width: 100px;
    height: 100px;
  }
  .list a:hover {
    cursor: pointer;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-xs-12 list" id="list-title">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" id="list"></div>
  </div>
</div>


<script>


//  get list data
var typeData;
var localURl = window.location.href;
var type = decodeURI(localURl.split('listName=')[1]);
$('#list-title').append(`<span style="font-size: 1.4em; color: #00B7FF;">${type}</span>`)

$.ajax({
  async: false,
  cache: false,
  type: "GET",
  url: "/getDataList",
  data:  {
    data: "product",
    type: type,
  },
  dataType: "json",
  success: function(data) {
    typeData = data;
    typeData.forEach(function(element) {
//      var imgURL = element.img;
      console.log(element.img);

      $('#list').append(`
      <div class="row list">
      <a href=""><div class="col-xs-1">
        <img src=imgURL alt="picture">
        </div>
        <div class="col-xs-11" style="line-height: 33px;">
          <div class="col-xs-12">${element.name}</div>
          <div class="col-xs-12">${element.brand}</div>
          <div class="col-xs-12">${element.context}</div>
        </div></a>
      </div>
    `);
    });
  }
});


//to details
var aArr = $('.list a');
$.makeArray(aArr).forEach(function (element, index) {
  $(element).on('click', function() {
    var detailsURL = localURl.split('list')[0]+"details?listName="+localURl.split('=')[1]+'&id='+typeData[index].id;
    $(element).attr({href: detailsURL});
  })
});

//  nav li change
  var liArr = $.makeArray($('#example-navbar-collapse li'));
  var style = 'color: #00B7FF;fonts-size: 1.2em;';

  liArr.forEach(function(element) {
    $(element).removeClass('active');
    var a = element.getElementsByTagName('a');
    $(a).removeAttr('style');
  });

  $(liArr[1]).addClass('active');
  var a = liArr[1].getElementsByTagName('a');
  $(a).attr("style", style);
</script>
<%include footer.ejs%>
