<div class="row">
    <div class="col-xs-6">
        <img id="logo" src="/images/repair-logo2.png" alt="logo">
    </div>
    <div class="col-xs-6">
        <button type="button" class="btn btn-default navbar-right"
                style="background-color: #ffe9de; font-weight: 600; border-radius: 0; border: none; color: #ff552e; height: 36px; margin-top: 8px; outline: none;">
            发布信息
        </button>
    </div>
</div>
</div>
</header>
</div>
