<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <script src="javascripts/jquery-1.7.2.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
</head>
<style>
    html, body {
        height: 100%;
        width: 100%;
    }
</style>

<body>
<div class="container-fliud">
    <div class="col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">personalInfo</div>
            <table class="table">
                <ul class="list-group">
                    <li class="list-group-item">Name：</li>
                    <li class="list-group-item">Email：</li>
                    <li class="list-group-item">Address：</li>
                    <li class="list-group-item">Telephone：</li>
                </ul>
            </table>
        </div>
    </div>
</div>
</body>

<script>
    var b = window.parent.getName(name);
    console.log(b)
</script>
</html>
